.my_profile
	.ProfileImage
		.profile_picture
			cursor: pointer
		&:hover .profile_picture
			fill: var(--profile-default-d)
	.profile_info
		display: flex
		align-items: center
		.name
			margin-left: .8em
			font-weight: 500
		.log_out
			margin-left: auto