.ProfileImage
	width: max-content
	max-width: 100%
	position: relative
	z-index: 10
	width: 3em
	height: 3em

.profile_picture
	transition: fill .3s ease
	fill: var(--profile-default)

.check
	fill: var(--success)
	position: absolute
	z-index: 20
	bottom: 0
	right: 0
	transform: translate(.1em, .3em)